{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load static %}

{% block content %}

<h4>{{ event.name }}</h4>
<h1>{% block title %}{% if event.registering_coaches %}{% trans 'Coach registration' %}{% else %}{% trans 'Сontestant registration' %}{% endif %}{% endblock %}</h1>

{% if event.fill_forms_in_en %}<div class="alert alert-info" role="alert">{% trans 'Please fill the form in English.' %}</div>{% endif %}
<p>{% trans 'A letter will be sent to confirm your e-mail address.' %}</p>

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">{% trans 'Register' %}</button>
        <a href="{% url 'events:home' event.slug %}" class="btn btn-link">{% trans 'Cancel' %}</a>
    {% endbuttons %}

    <datalist id="universities">
    {% if event.fill_forms_in_en %}
        <option value="Baranovichi State University">
        <option value="Belarusian National Technical University">
        <option value="Belarusian State Technological University">
        <option value="Belarusian State University">
        <option value="Belarusian State University of Transport">
        <option value="Belarusian State University of Informatics and Radioelectronics">
        <option value="Branch of the Naval Academy in Kaliningrad">
        <option value="Brest State A. S. Pushkin University">
        <option value="Brest State Technical University">
        <option value="Gomel State Technical University">
        <option value="Immanuel Kant Baltic Federal University">
        <option value="Lviv National University">
        <option value="Sukhoi State Technical University of Gomel">
        <option value="Vilnius University">
        <option value="Vitebsk State University named after P. M. Masherov">
        <option value="Yanka Kupala State University of Grodno">
        <option value="Lyceum BSU">
    {% else %}
        <option value="Белорусский государственный университет">
        <option value="Белорусский государственный университет информатики и радиоэлектроники">
        <option value="Белорусский государственный университет транспорта">
        <option value="Белорусский национальный технический университет">
        <option value="Гомельский государственный университет им. Ф. Скорины">
        <option value="Гродненский государственный университет им. Я. Купалы">
    {% endif %}
    </datalist>

    <datalist id="faculties">
    {% if event.fill_forms_in_en %}
    {% else %}
        <option value="Факультет бизнеса и технологий">
        <option value="Факультет информационных технологий">
        <option value="Факультет информационных технологий и робототехники">
        <option value="Факультет компьютерного проектирования">
        <option value="Факультет компьютерных наук">
        <option value="Факультет компьютерных систем и сетей">
        <option value="Факультет математики и информатики">
        <option value="Факультет математики и информационных технологий">
        <option value="Факультет прикладной математики">
        <option value="Факультет прикладной математики и информатики">
        <option value="Факультет экономики и технологий управления">
        <option value="Факультет экономики и управления">
        <option value="Электротехнический факультет">
    {% endif %}
    </datalist>
</form>

{% endblock %}
