{% load bootstrap3 %}
{% load i18n %}
{% load irunner_courses %}
{% load irunner_problems %}
{% load irunner_proglangs %}
{% load irunner_solutions %}

{% if course_descr.has_individual_problems %}
<h4>{% trans 'Individual problems' %}</h4>
<table class="ir-table-more-condensed table-striped ir-course-standings">
    <colgroup span="2">
    {% for topic_descr in course_descr.topic_descrs %}
        {% with topic_descr.slot_count as width %}
        {% if width > 0 %}
            <colgroup span="{{ topic_descr.slot_count }}">
        {% endif %}
        {% endwith %}
    {% endfor %}
    <colgroup span="2">
    <thead>
        <tr>
            <th class="ir-seq-no">{% trans '#' %}</th>
            <th>{% trans 'Student' %}</th>
            {% for topic_descr in course_descr.topic_descrs %}
                {% with topic_descr.slot_count as width %}
                {% if width > 0 %}
                    <th {% if width > 1 %}colspan="{{ width }}"{% endif %}>
                        <a href="{% url 'courses:course_problems_topic' course_id topic_descr.topic.id %}">{{ topic_descr.topic.name }}</a>
                    </th>
                {% endif %}
                {% endwith %}
            {% endfor %}
            <th>{% trans 'Problems' %}</th>
            <th>{% trans 'Result' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for user_result in results %}
        <tr{% if user_result.user == user %} class="ir-me"{% endif %}>
            <td class="ir-seq-no ir-subgroup-{{ user_result.get_subgroup_class_suffix }}">
                {{ forloop.counter }}
            </td>

            <td class="text-nowrap">
                {% if can_assign_problems %}
                    {% url 'courses:assignment:index' course_id user_result.user.id as assign_url %}
                    {% irunner_courses_user_card user_result.user.id user_cache last_name_first=True url=assign_url %}
                {% else %}
                    {% irunner_courses_user_card user_result.user.id user_cache last_name_first=True %}
                {% endif %}
            </td>

            {% for topic_result in user_result.topic_results %}
                {% for slot_result in topic_result.slot_results %}
                    <td class="text-nowrap ir-slot">
                        {% spaceless %}
                        {% if slot_result.should_show_in_standings %}
                            {% with slot_result.assignment.problem as problem %}
                                <span title="{% trans 'Problem' %} {{ problem.numbered_full_name }}">
                                    {% irunner_problems_difficulty problem.difficulty %}
                                </span>
                                <span class="ir-stripe{% if wide %} ir-stripe-wide{% endif %}">
                                    {% for criterion_descr in slot_result.criterion_descrs %}
                                        {% irunner_courses_criterion criterion_descr.criterion criterion_descr.ok %}
                                    {% endfor %}
                                    {% with slot_result.problem_result as pr %}
                                        {% if pr and pr.was_submitted %}
                                            <a href="{% url 'solutions:main' pr.best_solution.id %}">{% irunner_solutions_scorebox pr.best_solution.best_judgement hide_score_if_accepted=hide_score_if_accepted %}</a>
                                        {% else %}
                                            {% irunner_solutions_scorebox %}
                                        {% endif %}
                                    {% endwith %}
                                </span>
                                {% if wide %}
                                <a href="{% url 'courses:course_problems_topic_problem' course_id topic_result.topic_id problem.id %}">{{ problem.numbered_short_name }}</a>
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                        {% endspaceless %}
                    </td>
                {% endfor %}
            {% endfor %}
            <td class="ir-problem-summary text-nowrap">
                {{ user_result.get_complete_main_problem_count }}
                {% if user_result.get_total_extra_problem_count %}
                    <span title="{% trans 'Extra problems' %}">
                        ({{ user_result.get_complete_extra_problem_count }}&thinsp;/&thinsp;{{ user_result.get_total_extra_problem_count }})
                    </span>
                {% endif %}
            </td>
            <td class="ir-problem-summary text-nowrap">
                <strong>{{ user_result.get_problem_solving_mark }}</strong>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if course_descr.has_common_problems %}
    <h4>{% trans 'Common problems' %}</h4>
    <table class="ir-table-more-condensed table-striped ir-course-standings">
        <colgroup span="2">
        {% if course_descr.common_problem_count > 0 %}
            <colgroup span="{{ course_descr.common_problem_count }}">
        {% endif %}
        {% for topic_descr in course_descr.topic_descrs %}
            {% with topic_descr.common_problem_count as width %}
            {% if width > 0 %}
            <colgroup span="{{ topic_descr.common_problem_count }}">
            {% endif %}
            {% endwith %}
        {% endfor %}
        <colgroup>

        <thead>
            <tr>
                <th class="ir-seq-no" rowspan="2">{% trans '#' %}</th>
                <th rowspan="2">{% trans 'Student' %}</th>
                {% for problem in course_descr.common_problems %}
                    <th rowspan="2" class="ir-scorecell ir-problem-name">
                        <a href="{% url 'courses:course_problems_problem' course_id problem.id %}">{{ problem.numbered_short_name }}</a>
                    </th>
                {% endfor %}
                {% for topic_descr in course_descr.topic_descrs %}
                    {% with topic_descr.common_problem_count as width %}
                    {% if width > 0 %}
                        <th {% if width > 1 %}colspan="{{ width }}"{% endif %}>
                            {{ topic_descr.topic.name }}{% if topic_descr.topic.deadline %}<br><span class="text-danger">{% trans 'until' %} {{ topic_descr.topic.deadline|date:"SHORT_DATE_FORMAT" }}</span>{% endif %}
                        </th>
                    {% endif %}
                    {% endwith %}
                {% endfor %}
                <th rowspan="2">{% trans 'Problems' %}</th>
                <th rowspan="2">{% trans 'Points' %}</th>
            </tr>
            <tr>
                {% for topic_descr in course_descr.topic_descrs %}
                    {% for problem in topic_descr.common_problems %}
                        <th class="ir-scorecell ir-problem-name">
                            <a href="{% url 'courses:course_problems_problem' course_id problem.id %}">{{ problem.numbered_short_name }}</a>
                        </th>
                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for user_result in results %}
            <tr{% if user_result.user == user %} class="ir-me"{% endif %}>
                <td class="ir-seq-no ir-subgroup-{{ user_result.get_subgroup_class_suffix }}">
                    {{ forloop.counter }}
                </td>
                <td class="text-nowrap">
                    {% if can_assign_problems %}
                        {% url 'courses:assignment:index' course_id user_result.user.id as assign_url %}
                        {% irunner_courses_user_card user_result.user.id user_cache last_name_first=True url=assign_url %}
                    {% else %}
                        {% irunner_courses_user_card user_result.user.id user_cache last_name_first=True %}
                    {% endif %}
                </td>
                {% for pr in user_result.get_all_common_problem_results %}
                    <td>
                    {% if pr and pr.was_submitted %}
                        <a href="{% url 'solutions:main' pr.best_solution.id %}">{% irunner_solutions_scorebox pr.best_solution.best_judgement hide_score_if_accepted=hide_score_if_accepted accepted_before_deadline=pr.accepted_before_deadline %}</a>
                    {% else %}
                        {% irunner_solutions_scorebox %}
                    {% endif %}
                    </td>
                {% endfor %}
                <td class="ir-problem-summary text-nowrap">
                    {{ user_result.get_complete_common_problem_count }}
                </td>
                <td class="ir-problem-summary text-nowrap">
                    {{ user_result.get_common_problem_points }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
