{% load static %}

<link href="{% static 'katex-0.10.1/katex.min.css' %}" rel="stylesheet">
<script src="{% static 'katex-0.10.1/katex.min.js' %}"></script>
<style type="text/css">{{ styles }}</style>
