{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_solutions %}
{% load irunner_problems %}
{% load irunner_proglangs %}
{% load irunner_users %}
{% load static %}

{% block title %}{% block subtitle %}{% trans 'Result' %}{% endblock %} &mdash; {% trans 'Solution' %} {{ solution.id }}{% endblock %}

{% block content %}
<div class="panel panel-default ir-solution-panel">
    <div class="panel-body">
        <h2>
            {% if permissions.can_view_state_on_samples or permissions.can_view_state %}
                {% irunner_solutions_judgementbox solution.best_judgement tooltip=True complete=permissions.can_view_state %}
            {% endif %}
            {% trans 'Solution' %} {{ solution.id }}
        </h2>
        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>{% trans 'Result' %}</dt>
                    <dd>{% irunner_solutions_judgementtext solution.best_judgement complete=permissions.can_view_state %}</dd>

                    {% if permissions.can_view_state and solution.best_judgement and not solution.stop_on_fail %}
                        <dt>{% trans 'Score' %}</dt>
                        <dd>{{ solution.best_judgement.score }} {% trans 'of' %} {{ solution.best_judgement.max_score }}</dd>
                    {% endif %}

                    <dt>{% trans 'Author' %}</dt>
                    <dd>{% irunner_users_card solution.author %}</dd>

                    {% if solution.problem %}
                        <dt>{% trans 'Problem' %}</dt>
                        {# What link to the problem is the best? #}
                        <dd>
                            {% if solution.problem.difficulty != None and solution_environment.contest == None %}
                                {# Difficulties are not shown for contests #}
                                {% irunner_problems_difficulty solution.problem.difficulty %}
                            {% endif %}

                            {% if solution_environment.course or solution_environment.contest %}
                                {% if solution_environment.course %}
                                    <a href="{% url 'courses:course_problems_problem' solution_environment.course.id solution.problem_id %}">{{ solution.problem.numbered_full_name }}</a>
                                {% else %}
                                    <a href="{% url 'contests:problem' solution_environment.contest.id solution.problem_id %}">{{ solution.problem.numbered_full_name }}</a>
                                {% endif %}
                                {% if permissions.can_refer_to_problem %}
                                    (<a href="{% url 'problems:edit' solution.problem_id %}">{% bootstrap_icon 'pencil' %}</a>)
                                {% endif %}
                            {% elif permissions.can_refer_to_problem %}
                                <a href="{% url 'problems:statement' solution.problem_id %}">{{ solution.problem.numbered_full_name }}</a>
                            {% else %}
                                {# no link, just name #}
                                {{ solution.problem.numbered_full_name }}
                            {% endif %}
                        </dd>

                        <dt>{% trans 'Input&thinsp;/&thinsp;output' %}</dt>
                        <dd>{% irunner_problems_inputfile solution.problem.input_filename %}&thinsp;/&thinsp;{% irunner_problems_outputfile solution.problem.output_filename %}</dd>
                    {% endif %}

                    {% if solution_environment.course %}
                        <dt>{% trans 'Course' %}</dt>
                        <dd>
                            <a href="{% if solution.author == user %}{% url 'courses:my_solutions' solution_environment.course.id %}{% else %}{% url 'courses:all_solutions' solution_environment.course.id %}?user={{ solution.author.id }}{% endif %}">
                                {{ solution_environment.course }}
                            </a>
                        </dd>
                    {% endif %}

                    {% if solution_environment.contest %}
                        <dt>{% trans 'Contest' %}</dt>
                        <dd><a href="{% url 'contests:standings' solution_environment.contest.id %}">{{ solution_environment.contest }}</a></dd>
                    {% endif %}
                </dl>
            </div>

            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>{% trans 'Submitted' %}</dt>
                    <dd>{{ solution.reception_time }}</dd>

                    {% if extra_info and extra_info.finish_testing_time %}
                        <dt>{% trans 'Judged' %}</dt>
                        <dd>{{ extra_info.finish_testing_time }}</dd>
                    {% endif %}

                    {% if permissions.can_view_ip_address and solution.ip_address %}
                        <dt>{% trans 'IP address' %}</dt>
                        <dd><span class="ir-monospace">{{ solution.ip_address }}</span></dd>
                    {% endif %}

                    <dt>{% trans 'File' %}</dt>
                    <dd>
                        <span class="ir-monospace">{{ solution.source_code.filename }}</span>
                        <span class="ir-file-size">({{ solution.source_code.size|filesizeformat }})</span>
                    </dd>

                    <dt>{% trans 'Compiler' %}</dt>
                    <dd>{% irunner_proglangs_compilerbox solution.compiler tooltip=False %} {{ solution.compiler }}</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="span12 text-center">
                <ul class="nav nav-pills ir-solution-nav-pills">
                    {% if permissions.can_view_attempts %}
                        <li role="presentation"{% if active_tab == 'attempts' %} class="active"{% endif %}>
                            <a href="{% url 'solutions:attempts' solution.id %}">{% trans 'Attempts' %} ({{ attempt_count }})</a>
                        </li>
                    {% endif %}

                    {% if permissions.can_view_judgements %}
                        <li role="presentation"{% if active_tab == 'judgements' %} class="active"{% endif %}>
                            <a href="{% url 'solutions:judgements' solution.id %}">{% trans 'Judgements' %} ({{ judgement_count }})</a>
                        </li>
                    {% endif %}

                    {% if permissions.can_view_source_code %}
                        <li role="presentation"{% if active_tab == 'source' %} class="active"{% endif %}>
                            <a href="{% url 'solutions:source' solution.id %}">{% trans 'Source code' %}</a>
                        </li>
                    {% endif %}

                    {% if permissions.can_view_compilation_log %}
                        <li role="presentation"{% if active_tab == 'log' %} class="active"{% endif %}>
                            <a href="{% url 'solutions:log' solution.id %}">{% trans 'Compilation log' %}</a>
                        </li>
                    {% endif %}

                    {% if permissions.can_view_sample_results or permissions.can_view_results %}
                        <li role="presentation"{% if active_tab == 'tests' %} class="active"{% endif %}>
                            <a href="{% url 'solutions:tests' solution.id %}">{% trans 'Test results' %}</a>
                        </li>
                    {% endif %}

                    {% if permissions.can_view_plagiarism_score or permissions.can_view_plagiarism_details %}
                        <li role="presentation"{% if active_tab == 'plagiarism' %} class="active"{% endif %}>
                            <a href="{% url 'solutions:plagiarism' solution.id %}">{% trans 'Plagiarism' %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% block main %}
{% endblock %}

{% endblock %}
