{% load i18n %}
{% load irunner_solutions %}
{% load irunner_storage %}

{% if mode == 'test_results' %}
    {% irunner_solutions_testresults test_results permissions 'solutions:test_case_result' solution.id compact=True %}
{% elif mode == 'compilation_log' %}
    <div class="panel-body">
    {% if log_repr %}
        {% irunner_storage_show log_repr %}
    {% else %}
        <div class="ir-absence">
            {% trans 'Compilation log is not available' %}
        </div>
    {% endif %}
    </div>
{% endif %}
