{% extends 'base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_home %}
{% load irunner_messagebox %}
{% load static %}

{% block title %}{% trans 'Main' context 'main page' %}{% endblock %}

{% block content %}
<div class="jumbotron ir-jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-nowrap">{{ system_short_name }}</h1>
            <p>{% trans 'Automatic testing system' %}</p>
        </div>
        <div class="col-md-6 text-right">
            {% irunner_home_main_logo %}
        </div>
    </div>
</div>

{% if user.is_authenticated and user.userprofile and user.userprofile.needs_change_password and not disable_change_password_warning %}
    {% irunner_messagebox 'warning' wide=True %}
        <p class="text-center">
            {% trans 'Please set up a new password instead of default one.' %} <a href="{% url 'password_change' %}">{% trans 'Change password' %}.</a>
        </p>
    {% irunner_endmessagebox %}
{% endif %}

<div class="row">
    {% if my_blocks %}
    <div class="col-sm-4">
        {% for block in my_blocks %}
            {% irunner_home_block block %}
        {% endfor %}
    </div>
    {% endif %}

    {% for block in common_blocks %}
        <div class="col-sm-4">
            {% irunner_home_block block %}
        </div>
    {% endfor %}
</div>

{% endblock %}
